/*бежевый (#DDD0C8);*/
/*темно-серый (#323232).*/
/*/5d5050*/
*{
    margin: 0;
    padding: 0 0px;
    font-weight: 400;
}

main {
    width: 80%;
    margin: 0 auto;
}

nav {
    width: 80%;
    margin: 0 auto;
}

.pointer {cursor: pointer;}

header::first-letter{
    font-style: Italic;
    letter-spacing: 0.1rem;
    font-size: 150%;
}

header{
    font-size: 1.5em;
    color:#3a2419;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #9f7963;
    text-align:start;
    font-family: monospace;
}

body{
    background-color: #cfb4a2;
    color: #000000;
    font-family:  'Lucida Sans Unicode', sans-serif;
}


#links{
    /* Является ли маркер частью содержимого музыка */
    list-style: inside;
}

a:link {
    color: #c17a64;
    background-color: transparent;
    text-decoration:underline;
}

a:visited {
    color: #e9795a;
    background-color: transparent;
    text-decoration: none;
}

h1 {
    font-weight: bold;
    font-size: larger;
}

table {
    margin-top: 20px;
    margin-left: 20px;
    vertical-align: middle;
}

#R, #X, #Y{

    /*margin: 8px;*/
    font-family: Lucida Sans Unicode, sans-serif;
    /*font-weight: normal;*/
    /*padding-top: 2;*/
}
#check,#clear,#prevResult{
    font-size: 1.1em;
    padding: 5px 10px;
    display: flex;
    font-weight: normal;
    border: solid 1.5px #4a3429;
    font-family: Lucida Sans Unicode, sans-serif;
}

#results{
    margin-top: 5px;
    padding: 5px 10px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

#heads, #heads>th{
    background-color: #c4947c;
    border: solid 1.5px #4a3429	;
}
.pointer2{
    margin-top: 5px;
    margin-bottom: 5px;
}
input{
    margin-top: 5px;
    margin-bottom: 5px;
}

input#Y {
    padding-left: 3px;
    background-color: #c4947c	;
    border: solid 2px #4a3429;
}

button,.pointer{
    background-color: #c4947c;
    border: solid 1.5px #4a3429 ;
    padding: 4px 8px;
}

#results td{
    margin-right: 10%;
    margin-top: 8px;
    padding: 5px 10px;
    background-color: #c4947c;
    border: solid 3px #4a3429	;
    /*text-align: center;*/

}

ul#toBold{
    font-weight: bold;
}

p {
    padding: 1px;
    font-size: 1rem;
}

.validationInfo {
    margin: 1% auto;
    padding-right: 80px;
    /*text-align: center;*/
    font-family: inherit;
    color: #f24421;
    opacity: 0;
    transition: opacity 0.7s;
}

.validationInfo.show {
    opacity: 1;
    transition: opacity 0.7s;
}

th#heading {
    font-weight: bold;
    font-size: large;
}

.active{
    background-color: red;
}
#data{
    /*text-align: center;*/
}
#threeButtonsWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#threeButtonsWrapper > * {
    margin: 0 8px;
}

#xButtons > button, #rButtons > button {
    margin-left: 16px;
    width: 32px;
    height: 32px;
}

#xButtons > button:first-child, #rButtons > button:first-child {
    margin-left: 0px;
}

#xButtons, #rButtons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /*width: 60%;*/
    /*transform: scaleX(150%);*/
}

#data {
    display: flex;
    flex-direction: column;
}

#data > div {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
}

#data > div > * {
    margin-top: 8px;
}

#back-button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.results{
    min-width: 25px;
    padding: 10px;
}
